@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'poppins';
}

p {
    font-family: 'dm sans';
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    position: relative;
}

header a {
    text-decoration: none;
    color: #292929;
}

header a.logo {
    font-weight: 800;
    font-size: 2em;
    font-family: 'poppins';
    margin-left: 5vw;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 5vw;
}

header nav ul {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header nav ul li a {
    font-size: 1em;
    padding: 0 0 0 3em;
    font-weight: 400;
    letter-spacing: .25em;
    -webkit-transition: color .076s linear;
    transition: color .076s linear;
}

header nav ul li a:hover {
    color: #a09d34;
}

header .bottom-border {
    border-bottom: 2px solid #292929;
    position: absolute;
    left: 5em;
    right: 5em;
    bottom: -.5em;
}

.main-wrapper {
    background-color: #d7d7d7;
}