@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
}

h1, h2, h3 {
    font-family: 'poppins';
}

p {
    font-family: 'dm sans';
}

.city-wrapper img {
    width: 100%;
}

smlr {
    font-size: .65em;
    font-weight: 400;
    margin-right: .1em;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    width: 100vw;
    z-index: 6;
}

header a {
    text-decoration: none;
}

.logo {
    font-weight: 800;
    font-size: 2em;
    font-family: 'poppins';
    margin-left: 5vw;
    color: #292929;
}

.invert {
    color: #f5f5f5;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 5vw;
}

header nav ul {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header nav ul li a {
    font-size: 1em;
    padding: 0 0 0 3em;
    font-weight: 400;
    letter-spacing: .25em;
    -webkit-transition: color .076s linear;
    transition: color .076s linear;
    color: #292929;
}

header nav ul li a:hover {
    color: #c5c5c5;
}

header .bottom-border {
    border-bottom: 2px solid #292929;
    position: absolute;
    left: 5em;
    right: 5em;
    bottom: 0;
}

.clr {
    opacity: 1;
    background-color: #292929;
    transition: 300ms ease-in-out;
}

.none {
    opacity: 0;
    color: none;
    pointer-events: none;
    transition: 300ms ease-in-out;
}

.transp {
    opacity: 1;
    background: none;
    transition: 300ms ease-in-out;
}

.main-wrapper {
    background-color: #f5f5f5;
    min-height: 200vh;
    padding: 0 5em;
    max-width: 100%;
}

.hero {
    padding: 10em 3em 0 3em;
}

.city-wrapper {
    position: relative;
    max-width: 100%;
    height: 35vw;
    max-height: 40em;
}

.city-wrapper >* {
    transition: 300ms;
}

.city-wrapper .city-bg {
    position: absolute;
    max-width: 42%;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.city-wrapper .city-bg:hover {
    max-width: 43%;
    cursor: pointer;
    filter: hue-rotate(-90deg);
}

.city-wrapper .city-b1 {
    position: absolute;
    max-width: 8.35%;
    bottom: 0;
    left: 26.2%;
}

.city-wrapper .city-b1:hover {
    max-width: 8.7%;
    left: 26%;
    cursor: pointer;
    filter: hue-rotate(70deg);
}

.city-wrapper .city-b2 {
    position: absolute;
    max-width: 31%;
    bottom: 0;
    right: 17.2%;
}

.city-wrapper .city-b2:hover {
    max-width: 31.6%;
    right: 17.05%;
    cursor: pointer;
    filter: hue-rotate(40deg);
}

.city-wrapper .city-b3 {
    position: absolute;
    max-width: 8.6%;
    bottom: 0;
    left: 19.2%;
}

.city-wrapper .city-b3:hover {
    max-width: 8.8%;
    left: 19.1%;
    cursor: pointer;
    filter: hue-rotate(-40deg);
}
