img[src="assets/canton_tower.png"]{
    height: 620px;
    position: absolute;
    bottom: 0px;
    left: 260px;
    z-index: 1;
}

img[src="assets/corporate_building.png"]{
    height: 370px;
    position: absolute;
    bottom: 0px;
    left: 340px;
    z-index: 0;
}

img[src="assets/china_national_staduim.png"]{
    width: 525px;
    position: absolute;
    bottom: 0px;
    left: 375px;
    z-index: 1;
}

/* img[src="assets/math10.png"]{
    max-width: 100%;
    height: 100%;
} */